/*
#Images{
   
}
.Image{
    height: 100px;
    width: 200px;
     display: inline-block;
     margin-top: 5px;
     margin-right: 5px;
}

*/

img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
  }

.img-container{
margin-bottom: 1rem;
max-height: 497px;
background-color: #f7f7f7;
align-content: center;
width: 50%;
}

@media (min-width: 768px) {
    .img-container {
        min-height: 497px;
    }
}

button{
    font-weight: 400;
margin:5px;
background-color: teal;
border-radius: 12px;

}