table{
    border: black 2px solid;
    
}

.table thead th{
    border: 0;
}
#inventory{
    align-content: center ;
} 

.inventory-item{
    margin: 8px;
}
body{
    background-color: orangered;
}
#Jumbo{
    background-color: yellow;
    padding-bottom: 2rem;
}


.list-group-item{
    margin-right: 2rem;
}

td{
    margin: 3px;
}

h4{
    margin-top: 0px;
}


.jumbotron{
    padding:0;
}

button{
    margin-left:1rem;
}
#searchBar{
  
    margin-left: 2rem;
}
.search-container{
    padding-left: 2rem;
}

.itemDescButton{
    float:right;
}
.addToCartButton{
    float:right;
}

.AlertBox{
    margin-top: 2rem;
    padding: 0px;
    border: none;
}
#Total{
    font-weight: bold;
   

}